body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/stars.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.shipDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  max-width: 80%;
}

/* this is the best styling I've ever done, plz appreciate it in my lab feedback plz plz plz */